<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tuicss@2.1.1/dist/tuicss.min.css">
        <style>
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

body, html {
    height: 100%;
    background-color: rgb(32, 32, 32);
}

.tui-input {
    width: 100% !important;
    margin-bottom: 5px;
}
        </style>
    </head>
    <body>
        <div class="container">
            <div class="center">
                <div class="tui-window blue-168" style="width: 200px;">
                    <legend class="center" style="margin-bottom: 10px;">Login</legend>
                    <fieldset class="tui-fieldset">
                        Username <input class="tui-input" value="" name="username"/><br>
                        Password <input class="tui-input" type="password" value="" name="password"/><br>
                    </fieldset>
                </div>
            </div>
        </div>
    </body>
</html>
