<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tuicss@2.1.1/dist/tuicss.min.css">
        <style>
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

body, html {
    height: 100%;
    background-color: rgb(32, 32, 32);
}

.tui-input {
    width: 100% !important;
    margin-bottom: 5px;
}
        </style>
    </head>
    <body>
        <div class="container">
            <div class="center">
                <div class="tui-window blue-168" style="width: 200px;">
                    <fieldset class="tui-fieldset">
                        <form>
                            Username <input class="tui-input" id="un" value="" name="username"/><br>
                            Password <input class="tui-input" id="pw" type="password" value="" name="password"/><br>
                            <input class="tui-input" type="button" onclick="login()" value="Login">
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>

        <script>
            function login() {
                var un = document.getElementById("un").value;
                var pw = document.getElementById("pw").value;

                fetch("/login", {
                    method: "post",
                    headers: {
                        "Accept": "application/json, text/plain, */*",
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ username: un, password: pw })
                }).then(res => {
                    var json = res.json().then(json => {
                        if(res.status != 200) {
                            console.log(json);
                            alert(json.msg);
                        } else {
                            //console.log(json);
                            setCookie("access_token_cookie", json.access_token, 7);
                            document.location.href = "/status";
                        }
                    })
                });
            };

            function setCookie(name,value,days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
}
function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}
        </script>
    </body>
</html>
